<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>

</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>Thanks for getting in touch </p>
    <p>You contacted with <%= data.who %> in the dept of <%= data.department%>.</p>
    <p>Your email is <%= data.email%></p>
</body>
</html>